@charset "UTF-8";
/* CSS RESET @ViorelMocanu */
/*  https://github.com/ViorelMocanu/LinkInBio/blob/main/style.scss */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
  font-named-instance: "Regular";
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./Montserrat-ExtraBold.woff2") format("woff2");
  font-display: swap;
  font-named-instance: "Bold";
}
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", Trebuchet, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

body {
  display: block;
  min-height: 100vh;
  margin: 0;
  text-rendering: optimizeSpeed;
}

img, picture {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

strong {
  font-weight: 900;
}

.ScreenReaders {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/**** CSS Starts here ****/
.Button {
  display: block;
  padding: 0.5em 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #799900;
  border-radius: 0.5em;
}
.Button:hover {
  color: #fff;
  background-color: #000000;
}

a {
  color: #799900;
  text-decoration: none;
}
a:hover {
  color: #000000;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  height: 2.75rem;
  background: white;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
}

.TriggerButton {
  display: block;
  padding: 0.5rem;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.TriggerButton:hover {
  color: #799900;
  background-color: #eee;
}
@media (min-width: 768px) {
  .TriggerButton {
    display: flex;
  }
}

.MenuText {
  display: none;
  font-weight: 700;
}
@media (min-width: 768px) {
  .MenuText {
    display: block;
  }
}

/* LOGO CENTRAT */
.invis {
  width: 2.75rem;
  height: 2.75rem;
  visibility: hidden;
}

.Logo {
  margin: auto;
}

/* LOGO CENTRAT */
.TriggerImage {
  display: block;
  width: 2rem;
  height: 2rem;
}

.MainMenu {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  display: none;
  height: calc(100vh - 44px);
  padding: 1rem 0;
  overflow-y: auto;
  background: #eee;
}

.MainMenu.active {
  display: block;
}

.MainMenuList {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.MainMenuItem {
  display: block;
}

.MainMenuLink {
  display: block;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-weight: 700;
  color: #222;
  text-decoration: none;
  background-color: transparent;
}
.MainMenuLink:hover {
  color: #799900;
  background-color: white;
}

.MainMenuSubList {
  display: block;
  padding: 0;
  margin: 0;
}

.MainMenuSubItem {
  display: block;
}

.MainMenuSubLink {
  display: block;
  padding: 0.75em 1.5em;
  color: #222;
  text-decoration: none;
  background-color: transparent;
}
.MainMenuSubLink:hover {
  color: #799900;
  background-color: white;
}

.SearchForm {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

.Fieldset {
  margin: 0;
  border: none;
}

.SearchInput {
  display: none;
}

.SearchInput.active {
  display: block;
  width: 100%;
  margin: auto;
  border: 3px solid #eee;
  border-radius: 15px;
}

.Logo {
  position: relative;
  z-index: 1;
  display: block;
  justify-self: center;
  height: 3.75rem;
  background-color: #71984a;
}

.LogoImage {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
}

.Features {
  display: block;
  margin-top: 3rem;
}

.FeaturesTitle {
  display: block;
  margin: 1rem;
  font-size: 2rem;
  line-height: 1em;
  text-align: center;
}

.FeaturedList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 1em;
  list-style-type: none;
}
@media (min-width: 768px) {
  .FeaturedList {
    flex-direction: row;
  }
}

.FeaturedItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  margin: 0 0 1em;
  text-align: center;
}

.FeaturedImg {
  display: block;
}

.FeatureTitle {
  display: block;
  margin: 0;
}

.FeatureParagraph {
  display: block;
  margin: 0;
}

.MainFeature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  text-align: center;
  border-top: 1px solid #eee;
}
@media (min-width: 768px) {
  .MainFeature {
    flex-direction: row;
    justify-content: center;
  }
}

.MainFeatureParagraph {
  margin: 1rem;
}

.BookGrid {
  display: grid;
}
@media (min-width: 992px) {
  .BookGrid {
    grid-template-rows: 1;
    grid-template-columns: 0.5fr 3fr;
    margin: 0 15vw;
  }
}

.BookGridButton {
  display: none;
  color: white;
  background-color: red;
  border: none;
  border-radius: 15px;
}
@media (min-width: 992px) {
  .BookGridButton {
    display: inline-block;
  }
}

.BookGridList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(294px, 1fr));
  gap: 1rem;
  justify-content: end;
  padding: 0;
  margin: 1rem;
}
@media (min-width: 992px) {
  .BookGridList {
    grid-template-columns: repeat(auto-fit, 200px);
  }
}

.BookGridItem {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: row;
  max-width: 26rem;
  margin: auto;
  border-bottom: 2px dotted #eee;
  /*                             outline: 1px solid red;
   */
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  .BookGridItem {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 387.219px;
    padding: 1rem;
    margin: 0;
  }
}

.BookImage {
  display: block;
  padding: 1rem;
  margin: 0;
}
@media (min-width: 992px) {
  .BookImage {
    min-width: 100%;
    height: auto;
  }
}

.BookDetails {
  margin-right: 0.4rem;
}
@media (min-width: 992px) {
  .BookDetails {
    font-size: 0.8rem;
    text-align: center;
  }
}

.BookTitle {
  margin: 0 0 0 0.75rem;
  font-weight: 400;
  color: #000000;
}

.BookAuthor {
  margin: 0 0 0 0.5rem;
  font-weight: 400;
  color: #799900;
}

.BookAvailability {
  text-align: end;
}

.BookDiscount {
  display: inline-block;
  padding: 0.1rem 0.5rem 0.1rem 0;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  color: #eee;
  text-align: end;
  background-color: #e2735f;
}
@media (min-width: 992px) {
  .BookDiscount {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.BookPrice {
  position: relative;
  z-index: -1;
  display: block;
  margin-bottom: 0.1rem;
  font-size: 1rem;
}
@media (min-width: 992px) {
  .BookPrice {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
  }
}
.BookPrice .Bani {
  position: absolute;
  top: -0.25rem;
}
.BookPrice .Currency {
  margin-left: 1.4rem;
}

.BookStatus {
  display: block;
  padding: 0.1rem 0.25rem;
  font-size: 0.68rem;
  line-height: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .BookStatus {
    position: absolute;
    bottom: -0.5rem;
    left: 0;
  }
}

.PreOrder {
  color: white;
  background-color: #53acb4;
}

.InStock {
  color: black;
  background-color: #f4bb3a;
}

.Unavailable {
  color: white;
  background-color: #666;
}

.footer {
  background-color: #eee;
  border-top: 1px solid #ddd;
}

.container-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(317px, 1fr));
  max-width: 79.1875rem;
  margin: 0 auto;
}

.FooterHeader {
  display: block;
  padding: 0 1em;
  font-size: 1rem;
}

.FooterText {
  display: block;
  padding: 0 1em;
}

.LinkList {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.LinkListItem a {
  position: relative;
  z-index: 0;
  display: block;
  padding: 0.5em 1em;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}
.LinkListItem a::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0.25em;
  font-size: 2em;
  line-height: 0.5em;
  content: "›";
}
.LinkListItem a:hover {
  color: #000000;
  background-color: #ddd;
}

@media (min-width: 951px) {
  .Newsletter {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

.Newsletter input {
  display: block;
  width: 100%;
  padding: 0 1em;
  margin-bottom: 0.75rem;
  border: none;
  border-radius: 15px;
}

.SocialLinks {
  display: flex;
  gap: 1rem;
  padding: 0.5em 1em;
  margin: 0;
  list-style-type: none;
}

.Support {
  display: flex;
  padding: 0.5em 1em;
}
@media (min-width: 634px) {
  .Support {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
@media (min-width: 951px) {
  .Support {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}

.Payment {
  display: flex;
  padding: 0.5em 1em;
}
@media (min-width: 634px) {
  .Payment {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
@media (min-width: 951px) {
  .Payment {
    grid-row: 2/3;
    grid-column: 3/4;
  }
}

.Security {
  display: flex;
  padding: 0.5em 1em;
}
@media (min-width: 634px) {
  .Security {
    grid-row: 3/4;
    grid-column: 2/3;
  }
}
@media (min-width: 951px) {
  .Security {
    grid-row: 4/5;
    grid-column: 3/4;
  }
}

@media (min-width: 634px) {
  .Misc {
    grid-row: 5/6;
    grid-column: 1/3;
  }
}
@media (min-width: 951px) {
  .Misc {
    grid-row: 5/6;
    grid-column: 1/4;
  }
}

.MiscList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: 0;
  font-size: 0.875rem;
  list-style-type: none;
  border-top: 1px solid #eee;
}
@media (min-width: 768px) {
  .MiscList {
    flex-direction: row;
  }
}

.MiscItem {
  display: inline-block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.MiscItem:nth-child(4) {
  margin-left: auto;
}

/**** CSS Ends here ****//*# sourceMappingURL=styles.css.map */