/* CSS RESET @ViorelMocanu */
/*  https://github.com/ViorelMocanu/LinkInBio/blob/main/style.scss */
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Bold";
  src: url("./Montserrat-ExtraBold.woff2") format("woff2");
}
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", Trebuchet, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

body {
  display: block;
  min-height: 100vh;
  margin: 0;
  text-rendering: optimizeSpeed;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

strong {
  font-weight: 900;
}

.ScreenReaders {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/**** CSS Starts here ****/
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  height: 2.75rem;
  background: white;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
}

.TriggerButton {
  display: block;
  padding: 0.5rem;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.TriggerButton:hover {
  color: #799900;
  background-color: #eee;
}
@media (min-width: 768px) {
  .TriggerButton {
    display: flex;
  }
}

.MenuText {
  display: none;
  font-weight: 700;
}
@media (min-width: 768px) {
  .MenuText {
    display: block;
  }
}

/* LOGO CENTRAT */
.invis {
  width: 2.75rem;
  height: 2.75rem;
  visibility: hidden;
}

.Logo {
  margin: auto;
}

/* LOGO CENTRAT */
.TriggerImage {
  display: block;
  width: 2rem;
  height: 2rem;
}

.MainMenu {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  display: none;
  height: calc(100vh - 44px);
  padding: 1rem 0;
  background: #eee;
  overflow-y: auto;
}

.MainMenu.active {
  display: block;
}

.MainMenuList {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.MainMenuItem {
  display: block;
}

.MainMenuLink {
  display: block;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-weight: 700;
  color: #222;
  background-color: transparent;
  text-decoration: none;
}
.MainMenuLink:hover {
  color: #799900;
  background-color: white;
}

.MainMenuSubList {
  display: block;
  margin: 0;
  padding: 0;
}

.MainMenuSubItem {
  display: block;
}

.MainMenuSubLink {
  display: block;
  padding: 0.75em 1.5em;
  color: #222;
  background-color: transparent;
  text-decoration: none;
}
.MainMenuSubLink:hover {
  color: #799900;
  background-color: white;
}

.SearchForm {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

.Fieldset {
  border: none;
  margin: 0;
}

.SearchInput {
  display: none;
}

.SearchInput.active {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 15px;
  border: 3px solid #eee;
}

.Logo {
  position: relative;
  z-index: 1;
  display: block;
  justify-self: center;
  height: 3.75rem;
  background-color: #71984a;
}

.LogoImage {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
}

/**** CSS Ends here ****//*# sourceMappingURL=styles.css.map */