/* CSS RESET @ViorelMocanu */
/*  https://github.com/ViorelMocanu/LinkInBio/blob/main/style.scss */

@charset "UTF-8";

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url("./Montserrat-Regular.woff2") format("woff2");
	font-display: swap;
	font-named-instance: 'Regular';
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url("./Montserrat-ExtraBold.woff2") format("woff2");
	font-display: swap;
	font-named-instance: 'Bold';
}

*, *::before, *::after { box-sizing: border-box; }

html { 
    font-family: 'Montserrat', Trebuchet, sans-serif; 
    font-size: 16px; 
    line-height: 1.5em; 
}

body { display: block; min-height: 100vh; margin: 0; text-rendering: optimizeSpeed; }

img, picture { display: block; max-width: 100%; }

input, button, textarea, select { font: inherit; }

strong { font-weight: 900; }

.ScreenReaders { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0);white-space: nowrap; border-width: 0; }

/**** CSS Starts here ****/


.Button{
    display: block;
    padding: 0.5em 1em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #799900;
    border-radius: 0.5em;

    &:hover{
        color: #fff;
        background-color: #000000;
    }
}

a{
    color: #799900;
    text-decoration: none;
    &:hover{color: #000000;}
}

.container {}

    .header{

        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        height: 2.75rem;
        background: white;
        box-shadow: 0 1em 1em rgba($color: #000000, $alpha: 0.1);


    }


        .TriggerButton{
            display: block;
            padding: 0.5rem;
            margin: 0;
            background-color: transparent;
            border: none;
            appearance: none;
            &:hover{
                color: #799900;
                background-color: #eee;
            }
            @media (min-width: 768px) {display: flex;}

        }
            .MenuTrigger{

            }

            .MenuText{
                display: none;
                font-weight: 700;
                @media (min-width: 768px) {display: block;}
            }
            .SearchTrigger{}
            .CartTrigger{}

            /* LOGO CENTRAT */
            .invis{
                width: 2.75rem;
                height: 2.75rem;
                visibility: hidden;
            }
            .Logo{margin: auto;}
            
            /* LOGO CENTRAT */

                .TriggerImage{
                    display: block;
                    width: 2rem;
                    height: 2rem;
                }
                    .SearchTriggerImage{}
                    .MenuTriggerImage{}
                    .CartTriggerImage{}

        .MainMenu{
            position: absolute;
            top: 3rem;
            bottom: 0;
            left: 0;
            display: none;
            height: calc(100vh - 44px);
            padding: 1rem 0;
            overflow-y: auto;
            background: #eee;

        }
        .MainMenu.active {
            display: block;
        }
            .MainMenuList{
                display: block;
                padding: 0;
                margin: 0;
                list-style-type: none;
            }
                .MainMenuItem{
                    display: block;
                }
                    .MainMenuLink{
                        display: block;
                        padding: 0.5em 1em;
                        font-size: 1.5em;
                        font-weight: 700;
                        color: #222;
                        text-decoration: none;
                        background-color: transparent;
                        &:hover{
                            color: #799900;
                            background-color: white;
                        }
                    }
                    .MainMenuSubList{
                        display: block; 
                        padding: 0; 
                        margin: 0;
                    }
                        .MainMenuSubItem{display: block}
                            .MainMenuSubLink{
                                display: block;
                                padding: 0.75em 1.5em;
                                color: #222;
                                text-decoration: none;
                                background-color: transparent;
                                &:hover{
                                    color: #799900;
                                    background-color: white;
                                }

                            }

        .SearchForm{
            position: absolute;
            top: 3rem;
            bottom: 0;
            left: 0;
            width: 100%;
        }
            .Fieldset{
            margin: 0;
            border: none;}
                .Legend{}
                .Label{}
                .SearchLabel{}
                    .Input{}
                    .SearchInput{
                        display: none;
                    }
                    .SearchInput.active{
                        display: block;
                        width: 100%;
                        margin: auto;
                        border: 3px solid #eee;
                        border-radius: 15px;
                    }
                    .SearchLabelText{}

        .Logo{
            position: relative;
            z-index: 1;
            display: block;
            justify-self: center;
            height: 3.75rem;
            background-color: #71984a;
        }
            .LogoImage{
                display: block;
                width: 3.75rem;
                height: 3.75rem;
            }

    .main{}
            .Features{
                display: block;
                margin-top: 3rem;
            }
                .FeaturesTitle{
                    display: block;
                    margin: 1rem;
                    font-size: 2rem; 
                    line-height: 1em;
                    text-align: center;
                    
                 }
                .FeaturedList{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    margin: 0 1em;
                    list-style-type: none;
                    @media (min-width:768px) {
                        flex-direction: row;
                        
                    }
                }
                    .FeaturedItem{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 0 1em;
                        margin: 0 0 1em;
                        text-align: center;
                    }
                        .FeaturedImg{display: block;}
                        .FeatureTitle{display: block; margin: 0;}
                        .FeatureParagraph{display: block; margin: 0;}

                .MainFeature{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 1rem 0;
                    text-align: center;
                    border-top: 1px solid #eee;
                
                    @media (min-width:768px) {
                        flex-direction: row;   
                        justify-content: center;

                    }
                }
                    .MainFeature img{}
                    .MainFeatureParagraph{
                        margin: 1rem;
                    }

                .BookGrid{

                    display: grid;
                    @media (min-width:992px) {
                        grid-template-rows: 1;
                        grid-template-columns: 0.5fr 3fr;
                        margin: 0 15vw;
                    }

                }
                    .BookGridControls {}
                        .BookGridButton{
                            display: none;
                            color: white;
                            background-color: red;
                            border: none;
                            border-radius: 15px;
                            @media (min-width:992px) {
                                display: inline-block;
                            }
                        }
                            .BookGridLeft{}
                            .BookGridRight{}

                    .BookGridList{
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(294px, 1fr));
                        gap: 1rem;
                        justify-content: end;
                        padding:0;
                        margin: 1rem;
                        @media (min-width:992px) {
                            grid-template-columns:repeat(auto-fit, 200px);
                        }
                    }

                        .BookGridItem {
                            position: relative;
                            z-index: -1;
                            display: flex;
                            flex-direction: row;
                            max-width: 26rem;
                            margin: auto;
                            border-bottom: 2px dotted #eee;
/*                             outline: 1px solid red;
 */                            box-shadow: 0 1em 1em rgba($color: #000000, $alpha: 0.1);
                            @media (min-width:992px) {
                                flex-direction: column;
                                flex-wrap: wrap;
                                align-items: center;
                                justify-content: center;
                                min-height: 387.219px;
                                padding: 1rem;
                                margin: 0;
                           }

                        }
                            .BookImage{
                                display: block;
                                padding: 1rem;
                                margin: 0;
                                @media (min-width:992px) {
                                    min-width: 100%;
                                    height: auto;
                               }
                            }
                            .BookDetails{
                                margin-right: 0.4rem;
                                @media (min-width:992px) {
                                    font-size: 0.8rem;
                                    text-align: center;
                                }
                            }
                                .BookTitle{
                                    margin: 0 0 0 0.75rem;
                                    font-weight: 400;
                                    color: #000000;
                                }
                                .BookAuthor{
                                    margin: 0 0 0 0.5rem;
                                    font-weight: 400;
                                    color: #799900;
                                }
                            .BookAvailability{
                                text-align: end;
                            }
                                .BookDiscount{ 
                                    display: inline-block;                                   
                                    padding: 0.1rem 0.5rem 0.1rem 0;
                                    margin-bottom: 0.2rem;
                                    font-size: 0.9rem;
                                    color: #eee;
                                    text-align: end;
                                    background-color: #e2735f;
                                    @media (min-width:992px) {
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                    }
                                }
                                .BookPrice{
                                    position: relative;
                                    z-index: -1;
                                    display: block;
                                    margin-bottom: 0.1rem;
                                    font-size: 1rem;
                                    @media (min-width:992px) {
                                        position: absolute;
                                        right: 0;
                                        bottom: -0.5rem;
                                    }

                                    .Bani{
                                        position: absolute;
                                        top: -.25rem;
                                    }
                                    .Currency{
                                        margin-left: 1.4rem;
                                    }
                                }
                                .BookStatus{
                                    display: block;
                                    padding: 0.1rem 0.25rem;
                                    font-size: 0.68rem;
                                    line-height: 1.2rem;
                                    text-align: center;
                                    text-transform: uppercase;
                                    @media (min-width:992px) {
                                        position: absolute;
                                        bottom: -0.5rem;
                                        left: 0;
                                    }
                                }
                                    .PreOrder{
                                        color: white;
                                        background-color: #53acb4;
                                    }
                                    .InStock{
                                        color: black;
                                        background-color: #f4bb3a;
                                    }
                                    .Unavailable{
                                        color: white;
                                        background-color: #666;
                                    }
    .footer{
        background-color: #eee;
        border-top: 1px solid #ddd;
    }
        .container-bottom{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(317px, 1fr));
            max-width: 86rem;
            margin: 0 auto;
        }
        .FooterHeader{
            display: block;
            padding: 0 1em;
            font-size: 1rem;
        }
        .FooterText{
            display: block;
            padding: 0 1em;
        }
        .Links{
        }
            .LinkList{
                display: block;
                padding: 0;
                margin: 0;
                list-style-type: none;
            }
                .LinkListItem a{
                    position: relative;
                    z-index: 0;
                    display: block;
                    padding: 0.5em 1em;
                    color: #666; 
                    text-decoration: none;
                    text-transform: uppercase;
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #ddd;
                    &::after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: block;
                        padding: 0.25em;
                        font-size: 2em;
                        line-height: 0.5em;
                        content: '\203A';
                    }
                    &:hover{
                        color: #000000;
                        background-color: #ddd; 
                    }
                }
        .Delivery{
        }
        .Newsletter{
        }
            .Newsletter input{
                display: block;
                width: 100%;
                padding: 0 1em;
                margin-bottom: 0.75rem;
                border: none;
                border-radius: 15px;
            }
        .SocialMedia{
        }
            .SocialLinks{
                display: flex;
                gap: 1rem;
                padding: 0.5em 1em;
                margin: 0;
                list-style-type: none;
            }
                .SocialItem{}
                    .SocialLink{}
        .Support{
            display: flex;
            padding: 0.5em 1em;
        }
        .Payment{
            display: flex;
            padding: 0.5em 1em;
        }
        .Security{
            display: flex;
            padding: 0.5em 1em;
        }
        .Misc{
        }
            .MiscList{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding: 2rem;
                margin: 0;
                font-size: 0.875rem;
                list-style-type: none;
                border-top: 1px solid #eee;
                @media (min-width: 768px) {
                    flex-direction: row;
                }
            }
                .MiscItem{
                    display: inline-block;
                    max-width: fit-content;
                }
                .MiscItem:nth-child(4){
                    margin-left:auto;
                }
                    .MiscLink{}
    

/**** CSS Ends here ****/
